:root,
:root[data-theme="dark"] {

    --primary-color: #e0e0e0;
    --primary-bg:#000;
    --hover-menu:#8f8f8f;
    --icon-color: #11cde6;
}

:root[data-theme="light"] {
    --primary-color: #000;
    --primary-bg:#e0e0e0;
}


body {
    background: var(--primary-bg);
    color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: var(--primary-color)
}
a:hover {

    color: var(--hover-menu)
}

i {
    color: var(--icon-color)
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#header {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem  ;
    z-index: 2;
}

.logo{
    width: 3.2rem;
    height: 3.25rem;
}

img {
width: 15%;
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
}
#toggleTheme {
    color: yellow;
    font-size: 2rem;
    cursor: pointer;
}

.menu {
    
    list-style-type: none;
    display: flex;
    align-items:center;
    background: var(--primary-bg);
    gap: 1rem;
}
.menu-item {
    width:100;
}
.header-nav {
    display:none;
}
.menu-mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid red;
}
.menu-monile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
}
/* Responsividade */

@media (min-width: 768px) {
    #header {
        position: fixed;
        padding: 1rem 6rem;
    }

    .nav-mobile {
        display:none;
    }
    .header.nav{
        display: flex;
    }
    
}